.mini-form input {
	box-shadow: 0 2px 4px #ccc;
	background-color: #fff;
	padding: 7px 4%;
	border: none;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 92%;
}
.mini-form button[type="submit"] {
	box-shadow: 0 2px 3px #ccc;
	background-color: #ededed;
	padding: 8px 4%;
	border: none;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
}
