* {
	transition: 0.3s all;
	margin: 0;
}

button {
	cursor: pointer;
}

html,
body {
	background-color: #fff;
	font-family: sans-serif;
	height: 100%;
}

.h-full {
	height: 100%;
}
.flex {
	display: flex;
}
.flex-shrink-1 {
	flex-shrink: 1;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
